export(get_avatar)
export(get_draft_posts)
export(get_followers)
export(get_info)
export(get_iterated_followers)
export(get_iterated_likes)
export(get_iterated_posts)
export(get_iterated_tagged)
export(get_iterated_user_dashboard)
export(get_iterated_user_following)
export(get_iterated_user_likes)
export(get_likes)
export(get_posts)
export(get_queued_posts)
export(get_submission_posts)
export(get_tagged)
export(get_user_dashboard)
export(get_user_following)
export(get_user_info)
export(get_user_likes)
export(setup_tumblr_apikey)
export(setup_tumblr_oauth)
export(tumblr_to_date)
import(ROAuth)
import(httr)
import(jsonlite)
