export(get_avatar)
export(get_info)
export(get_iterated_likes)
export(get_iterated_posts)
export(get_likes)
export(get_posts)
export(get_tagged)
export(setup_tumblr_apikey)
export(setup_tumblr_oauth)
export(tumblr_to_date)
import(ROAuth)
import(httr)
import(jsonlite)
